.DropDown label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
}

.DropDown select{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.22);
    border: none;
    font-size: 24px;
    padding: 24px;
}