.Navbar{
    position: absolute;
    top: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
}

.Navbar .menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Navbar .logo{
    width: 100px;
}

.Navbar .logo img{
    display: block;
    width: 100%;
}